-i https://pypi.org/simple/
aiostream==0.3.1
attrs==19.3.0
backcall==0.1.0
bleach==3.1.0
bokeh==1.3.4
certifi==2019.9.11
cftime==1.0.4
chardet==3.0.4
click==7.0
cloudpickle==1.2.2
colorcet==2.0.2
cycler==0.10.0
dask[complete]==2.6.0
datashader==0.8.0
datashape==0.5.2
decorator==4.4.0
defusedxml==0.6.0
distributed==2.6.0
entrypoints==0.3
fastparquet==0.3.2
fsspec==0.5.2
graphviz==0.11.1
heapdict==1.0.1
holoviews==1.12.6
holoviz==0.11.3
hvplot==0.5.2
idna==2.8
imageio==2.6.1
importlib-metadata==0.23
ipykernel==5.1.3
ipython-genutils==0.2.0
ipython==7.8.0 ; python_version >= '3.3'
ipywidgets==7.5.1
jedi==0.15.1
jinja2==2.10.3
jsonschema==3.1.1
jupyter-client==5.3.4
jupyter-core==4.6.0
kiwisolver==1.1.0
llvmlite==0.30.0
locket==0.2.0
markdown==3.1.1
markupsafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
more-itertools==7.2.0
mpld3==0.3
msgpack==0.6.2
multipledispatch==0.6.0
nbconvert==5.6.0
nbformat==4.4.0
netcdf4==1.5.3
networkx==2.3
notebook==6.0.1
numba==0.46.0
numpy==1.17.0
packaging==19.2
pandas==0.24.2
pandocfilters==1.4.2
panel==0.6.4
param==1.9.2
parso==0.5.1
partd==1.0.0
pexpect==4.7.0 ; sys_platform != 'win32'
pickleshare==0.7.5
pillow==6.2.0
prometheus-client==0.7.1
prompt-toolkit==2.0.10
psutil==5.6.3
ptyprocess==0.6.0 ; os_name != 'nt'
pyct[cmd]==0.4.6
pygments==2.4.2
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
pyviz-comms==0.7.2
pywavelets==1.1.1
pyyaml==5.1.2
pyzmq==18.1.0
redis==3.3.4
requests==2.22.0
rise==5.5.1
scikit-image==0.16.2
scipy==1.3.1
selenium==3.141.0
send2trash==1.5.0
six==1.12.0
sortedcontainers==2.1.0
streamz==0.5.2
tblib==1.5.0
terminado==0.8.2
testpath==0.4.2
thrift==0.11.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.32.2
traitlets==4.3.3
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
xarray==0.11.3
zict==1.0.0
zipp==0.6.0
